body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header, footer {
  background-image: url(wallpaper.jpg);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.topnav {
    overflow: hidden;
    background-color: greenyellow;
}
  
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    /*text-decoration: none; */
}

.topnav a:hover {
    background-color: #52a58c;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: greenyellow;
    text-align: center;
}


section{
    height: 20%;
    padding: 3%;
}

#elso{ 
    background-color: lightgreen;
    height: 20%;
}

#masodik{
    background-color: green;
    height: 20%;
    text-align: left;
    color: aliceblue;
}

#harmadik{
    background-color: darkgreen;
    height: 20%;
    color: aliceblue;
}



.table{
    border: 3px solid black;
    border-spacing: 15px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse
}

.column .th{
  width: 400% !important;
  height: auto;
}
#RAM{
    width:100%;
    height: auto;
}
#ram{
    max-width:30%;
    height: auto;
    padding: 0;
}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: 7%;
  }
